h1{
    color: white;
    font-family:cursive;
    font-size: 200;

}
h2{
    color:blueviolet;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:x-large;
}
p{
    color:black;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size:200;
}
ul{
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 200;
}
a{
    color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 200;
}
